<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Date Page</title>
</head>
<body>
    <h1>Add a date to your wishlist below:</h1>
    <form action="/dates" method="POST">
        Location: <input type="text" name="location"/>
        Image: <input type="text" name="img"/>
        Cost: <input type="text" name="cost">
        Completed: <input type="checkbox" name ="completed"/>
        <input type="submit" value="Add Date">
    
    </form>
    
</body>
</html>