<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Date Page</title>
</head>
<body class="new-body">
    <h1 class="head">Add a date to your wishlist below:</h1>
    <form id="new" action="/dates" method="POST">
        Location: <input type="text" name="location"/>
        Image: <input type="text" name="img"/>
        Cost: <input type="text" name="cost">
        Completed: <input type="checkbox" class="complete-btn" name ="completed"/>
        <input type="submit" class="submit-btn" value="Add Date">
    
    </form>
    
</body>
</html>