<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>View a Date</title>
</head>

<body class="show-body">
    <h1>Details for date at <%= date.location %></h1>
    <div class="show-ul">
        <ul class="show">   
            <li class="show-img"><img src="<%= date.img %>"/></li>
            <li class="cost">Cost: <%= date.cost %></li>
            <% if(date.completed) { %>
                    <li class="comp-logic">You already went here</li>
                <% } else { %>
                    <li class="comp-logic">You haven't been here yet..</li>
            <% } %>
            <a href="/dates"><button class="show-btn">Back to Date Wishlist</button></a>
       </ul>
    </div>
</body>
</html>

