* {
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: bold; 
    text-align: center; 
    text-shadow: 1px, 2px, 2px, rgb(173, 39, 39);
}


.index-body {
    background-image: url("https://i.imgur.com/jo1hAQ7.jpg");
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    text-align: center;
}

/* Ul & Li */
.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.li {
    display: block;
}

/* li a:hover {
    background-color: rgb(240, 6, 127);
} */

img {
    height: 20rem;
    width: 35rem;
    border-radius: 65%;
    border: none;
    box-shadow: 0 14px 60px rgb(82, 74, 80);
    margin: auto;
}

/* Buttons */

.del-btn {
    background-color: rgb(231, 232, 242);
    border-radius: 8px;
    border: 2px solid rgb(231, 232, 242);
    color: rgb(240, 6, 127);
    opacity: 0.5;
    box-shadow: 0 14px 20px;
    font-weight: bold;
    margin: 2% auto;
}

.name-btn {
    padding: 8px;
    color: rgb(240, 6, 127);
    opacity: 0.5;
    border: none;
    outline: none;
    border-radius: 8px;
    /* box-shadow: 0 14px 20px; */
    font-weight: bold;
    /* margin: 1em, auto, 2em; */
}

.change-btn {
    padding: 10px;
    color: rgb(240, 6, 127);
    opacity: 0.5;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 75px, auto;
    box-shadow: 0 14px 20px;
    margin: 1% auto;
    
}


/* New Page */
#new-form {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    border: 2px solid rgb(92, 92, 89);
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(232, 197, 209);
    box-shadow: 0 10px 20px ;
    color: rgb(92, 92, 89); 
}

.new-body {
    background-image: url("https://i.imgur.com/jo1hAQ7.jpg");
}

#new>.submit-btn {
    width: 30%;
    margin: 0 auto;  
}

.submit-btn:hover {
    background-color:rgb(216, 216, 213);
}


#new>.complete-btn {
    background-color:rgb(92, 92, 89);
    border: rgb(92, 92, 89);
    border-radius: 8px;
}

/* show page */
.show-body {
    background-image: url("https://i.imgur.com/jo1hAQ7.jpg");
}
.show {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    border: 2px solid rgb(92, 92, 89);
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(232, 197, 209);
    box-shadow: 0 10px 20px ;
    color: rgb(0, 0, 0);
}

.show-img {
    margin: auto;
}

.cost, .comp-logic {
    margin: 2% auto;
    font-weight: bold;

}


.show-btn {
    padding: 10px;
    color: rgb(240, 6, 127);
    opacity: 0.5;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 75px, auto;
    box-shadow: 0 14px 20px;
    margin: 1% auto;
}
