* {
    box-sizing: border-box;
}

.head {
    color: rgb(231, 232, 242);
    text-align: center;
    font: 
    text-shadow: 2px, 2px rgb(231, 232, 242);
}

.btn {
    background-color: rgb(231, 232, 242);
    border-radius: 8px;
    border: 2px solid rgb(231, 232, 242);
    color: rgb(240, 6, 127);
    opacity: 0.5;
    box-shadow: 0 14px 20px;
    font-weight: bold;
}

.index-body {
    background-image: url("https://i.imgur.com/jo1hAQ7.jpg");
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* background-color: salmon; */
    text-align: center;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

li a:hover {
    background-color: rgb(240, 6, 127);
}

img {
    height: 20rem;
    width: 35rem;
    border-radius: 65%;
    border: none;
    box-shadow: 0 14px 20px;
}

.name {
    padding: 10px;
    color: rgb(240, 6, 127);
    opacity: 0.5;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 14px 20px;
    font-weight: bold;
}

.change-btn {
    padding: 10px;
    color: rgb(240, 6, 127);
    opacity: 0.5;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
}

.li {
    display: block;
}

/* new page */
#new {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    border: 2px solid rgb(92, 92, 89);
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(232, 197, 209);
    box-shadow: 0 10px 20px ;
}

.new-body {
    /* background-color: rgb(222, 142, 169); */
    background-image: url("https://i.imgur.com/jo1hAQ7.jpg");
    /* height: 100%; */
    /* background-position: center; */
     /* background-size: center; */
    color: rgb(92, 92, 89); 
}

#new>.submit-btn {
    width: 30%;
    margin: 0 auto;  
}

.submit-btn:hover {
    background-color:rgb(216, 216, 213);
}


#new>.complete-btn {
    background-color:rgb(92, 92, 89);
    border: rgb(92, 92, 89);
    border-radius: 8px;
}

/* show page */
#show {
    display: flex;

}
